body{
    background: #242424;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    width: 100%;
    height: 90px;
    background: #111;
    border-bottom: 2px solid #ffffffd2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
a{
    color: #fafafa;
    text-decoration: none;
}
h1{
    margin:0 0 0 18px;
    font-size: 46px;
}
h1 span{
    font-style: italic;
}

#container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#createDiv{
    width: 100%;
}

#createBox{
    width: 500px;
    background: #ffffffe5;
    margin: 20px 0 0 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #d8d8d89d;
}

#insertText{
    width: 70%;
    min-height: 220px;
    margin: 16px 0 10px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

input{
    width: 250px;
    height: 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

textarea{
    min-height: 180px;
    width: calc(100% + 50px);
    padding: 4px;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height:20px;
    resize: none;
}

button{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 28px;
    cursor: pointer;
    transition: background 300ms;
}
#addButton{
    color: #fafafa;
    background: #22ddff;
    margin: 12px 10px 0 4px;
}
#addButton:hover{
    color: #22ddff;
    background: #fafafa;
}
button:active{
    border: 2px solid #f0f0f0;
}
