@media(max-width: 1200px){
    #notesDiv{
        grid-template-columns:  1fr 1fr;
        grid-gap: 40px;
    }
    
}
@media(max-width: 980px){
    header{
        justify-content: center;
    }
    #createDiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #createBox{
        margin-left: 0;
        width: 85vw;
        box-shadow: none;
    }
    #notesDiv{
        grid-template-columns:  1fr;
        grid-gap: 40px;
    }
    .noteBox{
        width: 85vw;
        box-shadow: none;
    }
    button{
        width: 28px;
        height: 28px;
        font-size: 24px;
    }
    #addButton{
        color: #fafafa;
        background: #22ddff;
        margin: 15px 10px 0 4px;
    }
}