#notesDiv{
    display: grid;
    margin: 40px 0 40px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.noteBox{
    width: 390px;
    height: 300px;
    background: #d6dada83;
    box-shadow: 1px 1px 8px #3a3a3a9d;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titleNote{
    width: 100%;
    min-height: 24px;
    background: #8d8c8c86;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0 0 4px 0;
    border-radius: 6px 6px 0 0;
    padding-top: 10px;
    word-wrap: break-word;
}
.contentNote{
    width: 94%;
    height: 200px;
    margin: 0;
    color: #020202;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}
.footerNote{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.delButton{
    margin: 0 8px 4px 0;
    color: #fafafa;
    background: #ec1818;
    font-size: 22px;
}
.delButton:hover{
    color: #ff0000;
    background: #fafafa;
}
.date{
    font-size: 15px;
    font-weight: 700;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 4px 4px;
}